*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/TestProject/out
/TestProject/generated
/captures
/TestProject/.idea
/TestProject/target
/AnnotationProcessing/.idea
/AnnotationProcessing/out
/AnnotationProcessing/target
*.log
